@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 244 245 247;
  --foreground: 9 30 66;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

* {
  border-color: theme("colors.ink.200");
}

.scrollbar-thin::-webkit-scrollbar { width: 8px; height: 8px; }
.scrollbar-thin::-webkit-scrollbar-thumb { background: theme("colors.ink.200"); border-radius: 4px; }
.scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
